html,body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.sidebar {
    text-align: center;
    padding-top: 1em;
    font-family: times new roman,Times,serif;
    font-size: 1.3em;
    border-right: 1px solid #000;
    overflow: hidden;
    background-color: #e0ffff;
    height: 100%;
    width: 195px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.no-smooth {
    -webkit-font-smoothing: none
}
.sidebar li {
    list-style-type: none;
    padding-bottom: 6px;
    padding-top: 6px
}
.sidebar a:hover {
    color: green
}
.sidebar img {
    border-color: grey;
    border: 6px ridge #8a8a8a;
    border-radius: 8px;
    user-select: none;
    pointer-events: none
}
.sidebar ul {
    padding-left: 0;
}
#mono {
    font-family: courier;
    font-size: 0.78em;
}

.sidebar p {
    margin-block-start: 0;
}

.content {
    padding: 2em;
    margin-left: 195px;
}

h1,h2,h3,h4,h5,h6 {
    margin-block-start: 0.2em;
}

h2 {
    margin-block-start: 0em;
    margin-block-end: 0.3em;
}

.sidebar p {
    margin-block-end: 0em;
}

@media screen and (max-width: 726px) {
    .content {
      margin-left: 0;
    }
    .jumbo {
        margin-left: 0;
    }
    .sidebar {
      display: none;
      border-right: 0px solid transparent;
    }
  }
  