<meta name="viewport" content= "width=device-width, initial-scale=1.0">
<title>haha hackers go brrrrrrr</title>
<body background="https://i.ibb.co/TcsqrFg/smtye.jpg">
<center>
<img src="https://i.ibb.co/yRJYDfP/wordart-6.png" width="250">
<br>
<form method="post">
<input type="text" name="username" placeholder="user">
<input type="password" name="password" placeholder="pass">
<button type="submit">dune</button>
<br>
<h3 style="color:white">note: you cannot login unless your ip is whitelisted</h3>
</form>
</center>
</body>